<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <button type="button" class="btn btn-primary">
          Home
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Angular Test</h3>
</header>

<main role="main">

  <app-show-post></app-show-post>

</main>
