<form class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input name="username" [(ngModel)]="user.username" class="form-control" placeholder="Username" required autofocus>
  <input name="password" [(ngModel)]="user.password" type="password" id="inputPassword" class="form-control"
    placeholder="Password" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" (click)="validateLogin();" type="button">Sign in</button>
</form>
